<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="IncomeExpensesDB"
			 connectionString="Server=DESKTOP-H5I8MN6;Database=IncomeExpensesDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>